<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <title>Dementia Prediction | About Us</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav__logo">DementiaPrediction</div>
            <ul class="nav__links">
              <li class="link"><a href="/index1">Home</a></li>
              <li class="link"><a href="/about_dementia">About Us</a></li>
              <li class="link"><a href="/precautions">Precautions</a></li>
              <li class="link"><a href="/predict">Prediction</a></li>
              <li class="link"><a href="/contact1">Contact</a></li>
              <li class="link"><a href="/login">Logout</a></li>
            </ul>
            
          </nav>
        <main>
            <section class="about-us">
                <div class="about">
                  <img src="https://i.pinimg.com/474x/c2/f9/3f/c2f93fe4efa8d923d3c1b9a3df290cbf.jpg" class="pic">
                  <div class="text">
                    <h2>About Us</h2>
                    <h5>Dementia <span>Predictions</span></h5>
                      <p>Dementia is a progressive condition that impairs cognitive function, memory, and behavior. It can greatly impact daily activities and quality of life for individuals affected by the condition. Early diagnosis and appropriate support are essential for managing symptoms and providing optimal care.</p>
                    <div class="data">
                    <a href="/about" class="read">Read More</a>
                    </div>
                  </div>
                </div>
              </section>
        </main>
    </div>
</body>
</html>
