<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles1.css" />
    <title>Dementia Prediction | Home</title>
  </head>
  <body>
    
    <div class="container">
      <nav>
        <div class="nav__logo">DementiaPrediction</div>
        <ul class="nav__links">
          <li class="link"><a href="/index1">Home</a></li>
              <li class="link"><a href="/about_dementia">About Us</a></li>
              <li class="link"><a href="/precautions">Precautions</a></li>
              <li class="link"><a href="/predict">Prediction</a></li>
              <li class="link"><a href="/contact">Contact</a></li>
              <li class="link"><a href="/login">Login</a></li>
              <li class="link"><a href="/registerform">Register Now</a></li>
        </ul>
          
      </nav>
      <header class="header">
        <div class="content">
          <h1>DEMENTIA</h1>
          <p>
            In today's world, with an increasing prevalence of dementia, timely access to accurate prediction services is crucial. When individuals or caregivers suspect dementia-related symptoms, swift access to predictive tools can greatly influence the course of action. Early identification through predictive measures enables proactive planning, personalized interventions, and better outcomes for those affected by dementia.
          </p>
          <button class="btn"><a href="/predict">Get Predictions</a></button>
        </div>
      </header>
    </div>
  </body>
</html>